{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <title>Document</title>
    
     <style type="text/css">
        .table {
            width: 100%;
            margin-bottom: 20px;
            }

            .table th,
            .table td {
            padding: 8px;
            line-height: 20px;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid #dddddd;
            }

            .table th {
            font-weight: bold;
            }

            .table thead th {
            vertical-align: bottom;
            }

            .table caption + thead tr:first-child th,
            .table caption + thead tr:first-child td,
            .table colgroup + thead tr:first-child th,
            .table colgroup + thead tr:first-child td,
            .table thead:first-child tr:first-child th,
            .table thead:first-child tr:first-child td {
            border-top: 0;
            }

            .table tbody + tbody {
            border-top: 2px solid #dddddd;
            }

            .table-condensed th,
            .table-condensed td {
            padding: 4px 5px;
            }

            .table-bordered {
            border: 1px solid #dddddd;
            border-collapse: separate;
            *border-collapse: collapse;
            border-left: 0;
            -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                    border-radius: 4px;
            }

            .table-bordered th,
            .table-bordered td {
            border-left: 1px solid #dddddd;
            }

            .table-bordered caption + thead tr:first-child th,
            .table-bordered caption + tbody tr:first-child th,
            .table-bordered caption + tbody tr:first-child td,
            .table-bordered colgroup + thead tr:first-child th,
            .table-bordered colgroup + tbody tr:first-child th,
            .table-bordered colgroup + tbody tr:first-child td,
            .table-bordered thead:first-child tr:first-child th,
            .table-bordered tbody:first-child tr:first-child th,
            .table-bordered tbody:first-child tr:first-child td {
            border-top: 0;
            }

            .table-bordered thead:first-child tr:first-child th:first-child,
            .table-bordered tbody:first-child tr:first-child td:first-child {
            -webkit-border-top-left-radius: 4px;
                    border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            }

            .table-bordered thead:first-child tr:first-child th:last-child,
            .table-bordered tbody:first-child tr:first-child td:last-child {
            -webkit-border-top-right-radius: 4px;
                    border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            }

            .table-bordered thead:last-child tr:last-child th:first-child,
            .table-bordered tbody:last-child tr:last-child td:first-child,
            .table-bordered tfoot:last-child tr:last-child td:first-child {
            -webkit-border-radius: 0 0 0 4px;
                -moz-border-radius: 0 0 0 4px;
                    border-radius: 0 0 0 4px;
            -webkit-border-bottom-left-radius: 4px;
                    border-bottom-left-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            }

            .table-bordered thead:last-child tr:last-child th:last-child,
            .table-bordered tbody:last-child tr:last-child td:last-child,
            .table-bordered tfoot:last-child tr:last-child td:last-child {
            -webkit-border-bottom-right-radius: 4px;
                    border-bottom-right-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            }

            .table-bordered caption + thead tr:first-child th:first-child,
            .table-bordered caption + tbody tr:first-child td:first-child,
            .table-bordered colgroup + thead tr:first-child th:first-child,
            .table-bordered colgroup + tbody tr:first-child td:first-child {
            -webkit-border-top-left-radius: 4px;
                    border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            }

            .table-bordered caption + thead tr:first-child th:last-child,
            .table-bordered caption + tbody tr:first-child td:last-child,
            .table-bordered colgroup + thead tr:first-child th:last-child,
            .table-bordered colgroup + tbody tr:first-child td:last-child {
            -webkit-border-top-right-radius: 4px;
                    border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            }

            .table-striped tbody tr:nth-child(odd) td,
            .table-striped tbody tr:nth-child(odd) th {
            background-color: #f9f9f9;
            }

            .table-hover tbody tr:hover td,
            .table-hover tbody tr:hover th {
            background-color: #f5f5f5;
            }
    </style> 
    {% comment %} <link rel="stylesheet" href="{% static 'css/invoice_style.css' %}" type="text/css" /> {% endcomment %}
</head>
<body>
    <h1>{{latest_question_list}}</h1>

    <div class="container">

        <div class="row">
            <div class="col">
                <h2>Title: <span>{{invoice.title}}</span></h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Invoice From</h3>
            </div>
            <div class="col-6">
                <h6>Name:</h6>
            </div>
            <div class="col-6">
                <p>{{user.username}}</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Invoice To</h3>
            </div>
            <div class="col-6">
                <h6>Name:</h6>
            </div>
            <div class="col-6">
                <p>{{invoice.receiver_name}}</p>
            </div>
            <div class="col-6">
                <h6>Phone No.</h6>
            </div>
            <div class="col-6">
                <p>{{invoice.receiver_phone_no}}</p>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-12">
                <h3>Items</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table caption-top table-bordered">
                    <!-- <caption>Items</caption> -->
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in invoice_items %}
                            <tr>
                                <th scope="row">{{item.name}}</th>
                                <td>{{item.qty}}</td>
                                <td>{{item.price}}</td>
                                <td>{% widthratio item.price 1 item.qty %}</td>
                            </tr>
                            <tr>
                        {% endfor %}
                        <tr>
                            <th colspan="3">Total</th>
                            <th>{{invoice.total_amount}}</th>
                        </tr>
                         <tr>
                            <th colspan="3">Received</th>
                            <th>{{invoice.received_amount}}</th>
                        </tr>
                        {% if invoice.amount_status == 0 %}
                        <tr>
                            <th colspan="3">
                                Paid
                            </th>
                            <th colspan="3">
                                {{invoice.amount_status}}
                            </th>
                        </tr>
                        {% elif invoice.amount_status > 0 %}
                        <tr>
                            <th colspan="3">
                                Pay Back
                            </th>
                            <th>
                                {{invoice.amount_status}}
                            </th>
                        </tr>
                        {% else %}
                        <tr>
                            <th colspan="3">
                               Remaning 
                            </th>
                            <th>
                                {{invoice.amount_status}}
                            </th>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div
</body>
</html>